.flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.row {
    max-width: max-content;
    min-width: min-content;
}

.img {
    width: 450px;
    height: 400px;
}

.container1 {
    display: flex;
    margin: 10px;
    padding: 10px;
}

.block-3 {
    align-items: center;
    margin: auto;
}